//============================================
// Colors
//============================================

.u-bg-grey
  background-color: $c-grey

.u-bg-green
  background-color: $c-green

.u-bg-pink
  background-color: $c-pink

.u-bg-cyan
  background-color: $c-cyan

.u-bg-blue
  background-color: $c-blue

.u-bg-orange
  background-color: $c-orange

.u-bg-yellow
  background-color: $c-yellow

.u-c-grey
  color: $c-grey

.u-c-green
  color: $c-green

.u-c-pink
  color: $c-pink

.u-c-cyan
  color: $c-cyan

.u-c-blue
  color: $c-blue

.u-c-orange
  color: $c-orange

.u-c-yellow
  color: $c-yellow