//============================================
// Colors
//============================================

// Background colors
//============================================

.u-bg-grey
  background-color: $c-grey

.u-bg-grey-dark
  background-color: $c-grey-dark

.u-bg-green
  background-color: $c-green

.u-bg-pink
  background-color: $c-pink

.u-bg-cyan
  background-color: $c-cyan

.u-bg-blue
  background-color: $c-blue

.u-bg-orange
  background-color: $c-orange


// Colors
//============================================

.u-c-grey
  color: $c-grey

.u-c-green
  color: $c-green

.u-c-pink
  color: $c-pink

.u-c-cyan
  color: $c-cyan

.u-c-blue
  color: $c-blue

.u-c-blue-light
  color: $c-blue-light

.u-c-orange
  color: $c-orange


// Links
//============================================


.u-b-green
  a.about_link,
  a.close_project
    border-bottom: 2px solid $c-green
    &:hover
      color: $c-green
  .project_title
    color: $c-green

.u-b-pink
  a.about_link,
  a.close_project
    border-bottom: 2px solid $c-pink
    &:hover
      color: $c-pink
  .project_title
    color: $c-pink

.u-b-cyan
  a.about_link,
  a.close_project,
  a.underline-link
    border-bottom: 2px solid $c-cyan
    &:hover
      color: $c-cyan
  .project_title
    color: $c-cyan
  a.underline-link
    background: none

.u-b-blue
  a.about_link,
  a.close_project
    border-bottom: 2px solid $c-blue
    &:hover
      color: $c-blue
  .project_title
    color: $c-blue

.u-b-orange
  a.about_link,
  a.close_project
    border-bottom: 2px solid $c-orange
    &:hover
      color: $c-orange
  .project_title
    color: $c-orange

.u-b-blue-light
  a.about_link,
  a.close_project
    border-bottom: 2px solid $c-blue-light
    &:hover
      color: $c-blue-light
  .project_title
    color: $c-blue-light