//============================================
// About
//============================================

.about_link
  +pos(40px 40px, top right, fixed)

.about_img
  margin-top: 50px
  +mq($bp-sm)
    margin-top: 0

.about_text
  padding-bottom: 60px
  +mq($bp-md)
    padding-right: 100px
    padding-bottom: 0