//============================================
// Index 3
//============================================

// body:before, body:after
//   +size(100vw, 50vh)
//   position: fixed
//   background: red
//   display: block
//   content: ''
//   z-index: 5
  
// body:before
//   top: 0
//   transform: translateY(-50%)

// body:after
//   bottom: 0
//   background: blue

@-webkit-keyframes anim_top
  0%  
    transform: translateY(50%)
  100%
    transform: translateY(0)

@-moz-keyframes anim_top
  0%  
    transform: translateY(50%)
  100%
    transform: translateY(0)

@-o-keyframes anim_top
  0%  
    transform: translateY(50%)
  100%
    transform: translateY(0)

@keyframes anim_top
  0%  
    transform: translateY(50%)
  100%
    transform: translateY(0)

@-webkit-keyframes anim_bottom
  0%  
    transform: translateY(-50%)
  100%
    transform: translateY(0)

@-moz-keyframes anim_bottom
  0%  
    transform: translateY(-50%)
  100%
    transform: translateY(0)

@-o-keyframes anim_bottom
  0%  
    transform: translateY(-50%)
  100%
    transform: translateY(0)

@keyframes anim_bottom
  0%  
    transform: translateY(-50%)
  100%
    transform: translateY(0)

.box_top, .box_bottom
  +size(100%)
  position: fixed
  z-index: 5
  background-color: red

.box_top
  top: 0
  -webkit-animation: anim_top 5s infinite
  -moz-animation: anim_top 5s infinite
  -o-animation: anim_top 5s infinite
  animation: anim_top 5s infinite

// .box_bottom
//   bottom: 0
//   -webkit-animation: anim_bottom 5s infinite
//   -moz-animation: anim_bottom 5s infinite
//   -o-animation: anim_bottom 5s infinite
//   animation: anim_bottom 5s infinite

.content
  +pos(0, all)
  z-index: -1
  display: none

.back
  +pos(0, all)
  +size(100px)
  z-index: 4
  display: none

.project_content, .content
  width: 100%
  min-height: 100%

.project_content
  padding: 40px

.content_img
  padding: 20px 0

.projects_list
  +pos(15% 15%, top left)
  list-style-type: none
  padding-left: 0
  // +center-transform

.project_title
  font-size: $fs-h2 * 2.5
  display: inline-block
  position: relative
  padding-bottom: 3px
  &:after
    +pos(56px, top)
    +size(0px, 12px)
    content: ''
    display: block
    margin: auto
    background: transparent
    transition: width .5s ease, background-color .5s ease
  &:hover:after
    width: 100%
    background: white

.img_portfolio
  background: url('../images/index_portfolio.jpg') no-repeat center center fixed

.img_w2
  background: url('../images/index_w2.jpg') no-repeat center center fixed

.img_lakerol
  background: url('../images/index_lakerol.jpg') no-repeat center center fixed

.img_votingdog
  background: url('../images/index_votingdog.jpg') no-repeat center center fixed

.img_linkstalker
  background: url('../images/index_linkstalker.jpg') no-repeat center center fixed

.img_hermur
  background: url('../images/index_hermur.jpg') no-repeat center center fixed

.project_img
  +pos(-15% -15%, top left, fixed)
  +size(115%)
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  z-index: -1
  opacity: 0

.project_link:hover > .project_img
  opacity: 1
  transition: opacity 0.6s ease-in-out
